<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="icon" href="images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="scss/all.css">
    <script src="js/PetiteVue.js"></script>
    <title>初心者傳說online</title>
</head>

<body>
    <div class="main" id="app" @vue:mounted="mounted">
        <div class="bg"></div>
        <!-- 類別選擇 -->
        <div class="typeSel">
            <ul>
                <li v-for="item in typeList" :key="item.title" @click="chgType(item.num)"
                    :class="{ on: type == item.num }">{{ item.title }}</li>
            </ul>
        </div>

        <!-- 答題挑戰 -->
        <div class="answerBox" v-if="answerList.length > 0 && type == 0">
            <div class="filter">
                <input type="text" v-model="answerKeyword" placeholder="輸入關鍵字">
                <div class="clear" @click="answerKeyword = ''">清除</div>
            </div>
            <ul>
                <li v-for="item in filterAnswer" :class="{ err: !item.answer }" @click="openCorrect(item)">
                    <div class="question">{{ item.question }}</div>
                    <div class="answer"> {{ item.answer ? 'O' : 'X' }}</div>
                </li>
            </ul>
        </div>

        <!-- 正解彈窗 -->
        <div class="correctLog" :class="{ on : correct.sw }">
            <div class="closeBg" @click="correct.sw = false"></div>
            <div class="inner">
                <div class="closeBtn" @click="correct.sw = false"></div>
                <div class="tip">正解答案</div>
                <div class="content">
                    <label>
                        <span>題目:</span>
                        <p>{{ correct.question }}</p>
                    </label>
                    <label>
                        <span>正解:</span>
                        <p>{{ correct.answer }}</p>
                    </label>
                </div>
            </div>
        </div>
        
        <!-- 地圖寶箱 -->
        <div class="treasure" v-if="type == 2">
            <img v-for="item in treasureList" :src="'images/' + item">
        </div>
    </div>
    <script>
        PetiteVue.createApp({
            typeList: [
                { num: 0, title: '答題挑戰' },
                // { num: 1, title: '默契問答' },
                { num: 2, title: '地圖寶箱' }
            ],
            treasureList: [
                'D01.jpg',
                'D02.jpg',
                'D03.jpg',
                'D04.jpg'
            ],

            type: 0,
            answerKeyword: "",
            answerList: [],
            correct: {
                sw: false,
                question: '',
                answer: ''
            },

            chgType(num) {
                this.type = num;
                this.answerKeyword = '';
                window.scrollTo({ top: 0, behavior: 'smooth' });
            },
            // 取得答題挑戰列表    
            getAnswer() {
                fetch('json/answer.json')
                    .then(res => res.json())
                    .then(data => {
                        this.answerList = data;
                    });
            },
            // 開啟正解彈窗
            openCorrect(data){
                if(data.answer) return;

                this.correct.question = data.question;
                this.correct.answer = data.correct;
                this.correct.sw = true;
            },
            // 過濾答題挑戰列表
            get filterAnswer() {
                if (!this.answerKeyword) {
                    return this.answerList;
                }

                const key = this.answerKeyword.trim().toLowerCase();
                return this.answerList.filter(item => {
                    return item.question.toLowerCase().includes(key);
                });

            },
            mounted() {
                this.getAnswer();
            }

        }).mount('#app');

    </script>

</body>

</html>